/* The XSLT Sudoku Solver, © 2016 - Alain BENEDETTI, see MIT licence in the file licence.txt */

body  {background-color:#F9F9FF; padding: 1em; margin: 0; font-family: sans-serif; color: black;}
td    {font-size:18pt;}
table {border-collapse:collapse; border: #666699 solid 3px; background-color:#FFFFFF; padding:0;}

:link    {color: #00C; background: transparent}
:visited {color: #609; background: transparent}
a:active {color: #C00; background: transparent}

h1, h2, h3 {text-align: left}
h1, h2, h3 {color: #005A9C;}
h1         {font: 170% sans-serif}
h2         {font: 140% sans-serif}
h3         {font: 120% sans-serif}

p {margin-top: 0.6em; margin-bottom: 0.6em;}
p.licence { font-size: small }
input { max-width: 1.2em; border: none }
.a { color: black; font-weight: bold; margin:1em 0 0.5em }
.b { color: black; font-weight: bold; margin:0 }
.n { color: black; margin:0 }
.s { color: black; margin:2em 0 0 }

.c,.d,.e,.f {width:24pt; height:25pt; vertical-align:middle; text-align:center; }

.c,.d,.e,.f {border: #DDDDEE solid 1px;}
.d,.f {border-left: #666699 solid 2px;}
.e,.f {border-top: #666699 solid 2px;}


pre { border: solid thin; font-family: monospace }

span.comment      { color: blue }
span.instruction  { color: #A52A1F }
span.xml          { color: #30A0BC }
span.attribute    { color: #6A5ACD }
span.string       { color: #FF00FF }
